@charset "utf-8";
/* CSS Document */

body {
    background-color: gainsboro;
}
h1 {
    background: lightgrey;
    font-family: "Arial Narrow";
    font-size: medium;
}

p {
    font-family: "Arial Narrow";
    font-size: medium;
}
